%h1= "#{@band.name} #{@concert.title} 楽器別"

%ul
  %li
    %a{href:'?mode=member'}= 'メンバー別'
  %li
    楽器別

%table
  %thead
    %tr
      %td= ''
      - @titles.each do |t|
        %th= t.name
  %tbody
    - instruments_included_in(@titles).each do |i|
      %tr
        %th= i
        - @titles.each do |t|
          %td= t.members_playing(i).join('<br />')

= haml :"shared/edit_link"
