%h1= "#{@band.name} #{@concert.title} メンバー別"

%ul
  %li
    メンバー別
  %li
    %a{href:'?mode=inst'}= '楽器別'

%table
  %thead
    %tr
      %td= ''
      - @members.each do |m|
        %th= m.name
  %tbody
    - @titles.each do |t|
      %tr
        %th= t.name
        - @members.each do |m|
          %td= append_part_name_to_inst(t.parts_assigned_to(m)).join('<br />')
